
<!-- Sidebar -->
<nav class="col-md-2 d-none d-md-block bg-light sidebar shadow-sm">
    <div class="position-sticky pt-4 px-3">
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded" asp-page="/Account/Profile">
                    <i class="bi bi-house-add fs-5"></i> Profile
                </a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded active" asp-page="/Landlord/Index">
                    <i class="bi bi-boxes fs-5"></i> Property
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 px-3 py-2 rounded" href="#">
                    <i class="bi bi-currency-dollar fs-5"></i> Payments
                </a>
            </li>
        </ul>
    </div>
</nav>